body{
	text-align: center;
}


#btnContainer{
	border:1px solid grey;
}

.btn{
	height: 50px;
	width:50px;
	background-color: yellow;
	display: inline-block;
}

#canvas{
	background-color: rgb(230,230,200);
}